/* Container styles */
section {
    justify-content: space-between;
    padding: 20px;
  }
  
  /* Box styles */
  .card {
    /* display: flex;
    flex-wrap: wrap; */
    /* width: calc(33.33% - 20px); */
    height: 200px;
    margin-bottom: 20px;
    background-color: #333;
    border: 1px solid #555;
    box-sizing: border-box;
    color: #fff;
    transition: background-color 0.3s; /* Add transition for smooth effect */
  }
  
  /* Card Inner styles */
  .card_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  /* Card Name styles */
  .card_name, .card_total {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Hover effect */
  .card:hover {
    background-color: #444; /* Change background color on hover */
  }